RewriteEngine On

#Define a base path
RewriteBase /memocards/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

#Make a single entry point for the application
RewriteRule ^(.*)$ index.php
